{% extends 'core/base.html' %}

{% block title %}Добавить лид{% endblock %}

{% block content %}
    <div class="py-6 px-6">
        <h1 class="text-xl">Добавить лид</h1>

        Num leads:{{team.plan.max_leads}} - {{team.leads.all|length}}

        {% if team.plan.max_leads > team.leads.all|length %}

            <form method="post" action=".">
                {% csrf_token %}

                {{ form.as_p }}

                <button class="py-4 px-8 bg-indigo-500 hover:bg-indigo-600 text-white rounded-xl">Добавить</button>
            </form>
        {% else %}
            <div class="px-6 py-4 bg-red-400 rounded-xl text-white">
                Команда достигла лимита клиентов. Руководитель должен оплатить план с большим количеством.
            </div>
        {% endif %}

    </div>
{% endblock %}