{% extends 'core/base.html' %}

{% block title %}Лиды{% endblock %}

{% block content %}
    <div class="py-6 px-6">
        <h1 class="py-2 px-1 text-xl">Лиды</h1>
        <a href="{% url 'leads:add' %}" class="inline-block py-4 px-6 bg-indigo-300 hover:bg-indigo-400 rounded-xl text-white">Добавить лид</a>
        <a href="{% url 'leads:export_to_excel' %}" class="inline-block py-4 px-6 bg-green-300 hover:bg-green-400 rounded-xl text-white" >Загрузить .xlsx</a>

        <div class="mt-6 flex justify-between">
            <p class="py-4 px-2 bg-gray-200 font-semibold w-full">Имя</p>
            <p class="py-4 px-2 bg-gray-200 font-semibold w-full">Приоритет</p>
            <p class="py-4 px-2 bg-gray-200 font-semibold w-full">Статус</p>
        </div>

        {% for lead in leads %}
            <div class="flex justify-between">
                <p class="py-2 px-2 w-full hover:bg-gray-300 {% cycle 'bg-gray-100' '' %}">
                    <a href="{% url 'leads:detail' lead.id %}">{{ lead.name }}</a> 
                </p>
                <p class="py-2 px-2 w-full {% cycle 'bg-gray-100' '' %}">{{ lead.get_priority_display }}</p>
                <p class="py-2 px-2 w-full {% cycle 'bg-gray-100' '' %}">{{ lead.get_status_display }}</p>
            </div>
        {% empty %}
            <p class="px-2">База данных пуста...</p>

        {% endfor %}
    </div>
{% endblock %}
