<!doctype html>

<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="https://cdn.tailwindcss.com"></script>
        <title>{% block title %}{% endblock %}</title>
    </head>
    <body>
        <nav class="py-5 px-6 flex justify-between bg-indigo-500">
            <a href="/" class="text-white"> АС ЭОК</a>

            <div class="space-x-2">
                <a href="{% url 'about' %}" class="text-white">Описание</a>
                <a href="/" class="py-3 px-6 bg-indigo-600 rounded-xl text-white">Войти</a>
                <a href="{% url 'signup' %}" class="py-3 px-6 bg-indigo-300 rounded-xl text-white">Зарегистрироваться</a>
            </div>

        </nav>

        {% block content %}
        {% endblock %}

        <footer class="py-5 text-center bg-gray-200">
            <p class="text-s text-gray-700">2024 - АС ЭОК</p>
        </footer>
    </body>
</html>